* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav .bi-plus-lg {
	transform: scale(1.2);
}

nav.active {
	width: 25%;
}
.top-20 {
	top: 20px;
}

.end-20 {
	right: 20px;
}

nav .menu svg {
	transform: scale(1.5);
}

nav .menu {
	background-color: #dedede;
}
nav .menu:hover {
	background-color: #e7e7e7;
}

.info p {
	outline: none;
	padding: 1px 5px;
}

.dropdown .dropdown-toggle::after {
	display: none;
}

.add-task:focus {
	border-color: #6768696b !important ;
	box-shadow: 0 0 0 0.25rem #21252928 !important;
}

.check {
	width: 20px;
}

.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	background-color: white;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
}

.popup.hide {
	display: none;
}

.dark {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.452);
	z-index: 1;
}
.dark.active {
	display: block;
}
.priorities {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.priority {
	border: 1px solid;
	border-radius: 5px;
	padding: 2px 5px;
	background-color: white;
}

.high {
	border-color: rgb(199, 11, 11) !important;
	color: rgb(199, 11, 11);
}

.task.high {
	background-color: rgb(199, 11, 11) !important;
	font-weight: bold;
	color: white;
}

.medium {
	border-color: rgb(255, 191, 0);
	color: rgb(255, 191, 0);
}

.task.medium {
	background-color: rgb(255, 191, 0) !important;
	font-weight: bold;
	color: white;
}

.low {
	border-color: rgb(0, 85, 203);
	color: rgb(0, 85, 203);
}

.task.low {
	background-color: rgb(0, 85, 203) !important;
	font-weight: bold;
	color: white;
}

.priority.no {
	min-width: 95px;
}

.done .task {
	position: relative;
}

.done .task p {
	text-decoration: line-through;
}

.done .task input {
	position: relative;
	z-index: 3;
}

.done .task::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.536);
	z-index: 1;
	border-radius: 10px;
}

button.clear {
	display: none;
}

button.active {
	display: block;
}
